+++
title = "Home"
linkTitle = "Home"
+++

{{< blocks/cover title="Bienvenid@s a Go Canyoning Costa Rica" image_anchor="top" height="full" color="green">}}
<div class="mx-auto">

<!--    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">-->
<!--        Explorar los cañones <i class="fas fa-mountain ml-2 "></i>-->
<!--    </a>-->

<!--    <p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>-->
    {{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Aun hay que defiinir el contenido. pero en esta sección puede ir una introducción a la plataforma.

Esto es otra línea donde puede continuar la introducción
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-graduation-cap" title="Capacitación" %}}

Capacitación y entrenamiento en Canyoning (Links a páginas y contactos de entidades y/o instructores de canyoning)
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-route" title="Rutas" %}}
Directorio de rutas y lineamientos de colaboración para inclusión de rutas de canyoning
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-mountain" title="Equipos y grupos" %}}
Links a grupos, equipos y operadores turísitcos de canyoning en Costa Rica. (Disclaimer sobre los operadores turísticos)
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="info" >}}
<div class="col">
    <h1 class="text-center">Esta es otra sección que aun hay que planear</h1>
</div>
{{< /blocks/section >}}



{{< blocks/section color="warning" >}}
    {{% blocks/feature icon="fas fa-store-alt" title="Tiendas y comercializadores de Equipo" %}}
    Tiendas que comercializar equipo certificado para cañones.
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fas fa-hard-hat" title="Seguridad y Anclajes" %}}
    Gúias de instalación y verificación de anclajes... (Este contenido se debe generar eventualmente)
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fas fa-cloud-sun-rain" title="Centro de Información Meteorológica y Riesgo Geográfico"  %}}
    En esta sección se van a proveer acceso a una aplicación en tiempo real que brinda alertas, agrega información meteorológica y consolida reportes de incidentes como cabezas de agua, incremento en los caudales y otros eventos que podrían introducir factores de riesgo para cañonistas.
    {{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
    <div class="col-12">
        <h1 class="text-center">Esta es otra sección</h1>
    </div>
{{< /blocks/section >}}